.idyll-text-container img {
  border: 1px solid black;
}

.idyll-text-container canvas {
  border: 1px solid black;
}


.parametric-map-tooltip {
  background: #fff;
  border: solid 1px #222;
  font-family: 'Graphik Web';
  font-size: 14px;
  line-height: 18px;
  padding: 0.5em;
  font-weight: 400;
}

@media all and (max-width: 1200px) {
  .parametric-metadata-container {
    position: static;
    max-width: 720px;
    margin: 0 auto;
  }
  .parametric-metadata {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: space-around
  }
  h1.hed-rotate {
    font-size: 96px;
    line-height: 100px;
  }
}


@media all and (max-width: 1000px) {
  .idyll-root {
    max-width: none;
    padding: 0;
  }
  h1.hed-rotate {
    display: none;
  }
  /* h1.hed {
    font-size: 96px;
    line-height: 100px;
  } */
}

.parametric-caption {
  font-size: 14px;
  line-height: 1.25;
  font-family: 'Graphik Web';
  margin-top: 1em;
  margin-bottom: 2em;
  /* color: #888888; */
  /* line-height: 30px; */
  /* font-size: 16px; */
}

.idyll-text-container img {
  border: none;
}

.comment {
  color: red;
  font-style: italic;
}

.pull-number {
  font-size: 36px;
  font-family: "Graphik Web";
  font-weight: 800;
  width: 100%;
  display: block;
  border-bottom: solid 2px #222;
  line-height: 1.25;
  margin-bottom: 5px;
  color: #222222;
}

.pull-number-text {
  /* font-size: 20px;
  line-height: 18px !important; */
}

.caption-highlight {
  background-color: #323432;
  padding-right: 3px;
  padding-left: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
}